  /*header style*/
.toop {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    overflow: auto;
    width:100%;
  }

  .top a {
    display: block;
    color: #000;
    padding: 8px 8px;
    text-decoration: none;
    font-size: 25px;
  }
  .top a:hover,.foot a:hover {
    background-color: #555;
    color: white;
  }
  .top {
    text-align: center;
    border-bottom: 1px solid #555;
  }
  
  .top:last-child {
    border-bottom: none;
  }

  /*header style finish*/
  /*footer style */
.fooot{
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .foot {
    border-right: 1px solid #bbb;
  }
  
  .foot:last-child {
    border-right: none;
  }
  .fooot {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
  }
  
  .top,.foot {
    float: left;
  }
  
  .foot a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: whitesmoke;
  }
  
  /*footer style ended*/
body{
  background: linear-gradient( to left ,blue,white);
    padding: 0px;
    margin: 0px;
}

.toggle{
    
    text-decoration: line-through;
    font-size: 0px;    
}
.list_item:hover{
    font-size: 30px;
    text-decoration: line-through;
    transform: scale(1.1);
    font-family: cursive;
}
.name
{
    padding:20px;
    background-color: rgb(30, 22, 22);
    color: white;
    font-size: 30px;
    border-style:double;
}
#jjj,.list{
    text-align: center;
    padding: 20px 25% ;
    padding-bottom: 0px;

}
.list_item{
    list-style-type: none;
    border-style:double;
    padding: 10px 30px;
    margin: 10px;
    transition: all 0.25s;
    font-size: 30px;
    font-family:cursive;
    border-radius: 20px;
    border-collapse: collapse;
    padding-bottom: 5px;
    margin-bottom: 5px;
    cursor: grab;
    text-overflow: hidden;
    background-color: black;
    color: white;
}
.text,.button{
    padding: 10px 30px;
}
body{
        padding-bottom: 60px;
}
button:hover,.text:hover{
    padding: 12px 33px;
}
p{
    padding-right: 20px;

}
img{
    padding-right: 30px;
}